[run]
source = src/metalsurfer

[report]
precision = 2
show_missing = True
skip_covered = False
fail_under = 85

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
